.about {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  text-align: center;
  // height: calc(100vh - 200px);
  flex-grow: 1; /* Allow the .about section to grow and take available space */

  // padding-bottom: 200px;
}

.center {
  max-width: 750px;
  min-height: 100%; /* Ensure the content doesn't shrink too much */
}
.text {
  text-align: left;
  padding: 20px 40px;
  line-height: 1.5;
}
.polaroid {
  padding-bottom: 20px;
}

.link {
  text-decoration: underline;
  &:hover {
    color: var(--olive);
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 900px) {
  .text {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  .polaroid {
    max-width: 500px; /* Adjust the image max width for smaller screens */
    max-height: 375px; /* Adjust the image max height for smaller screens */
  }
}

@media (max-width: 717px) {
  .about {
    // padding: 2rem;
  }
}

@media (max-width: 575px) {
  .text {
    padding: 20px 20px;
  }
  .polaroid {
    max-width: 300px;
    max-height: 225px;
  }
}