.about {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    text-align: center;
    height: 100vh;
    padding-bottom: 200px;
}

.center {
    max-width: 750px;
}
.text {
    padding-top: 20px;
    padding-bottom: 20px;
}
.polaroid {
    padding-bottom: 20px;
}

.link {
    text-decoration: underline;
    &:hover {
        color: var(--olive);
        transition: 0.3s ease-in-out;
    }
}