.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f4f4f4;
}
.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5%;
}

.links {
  margin: 0 30px;
  &:hover {
    color: #aaaaaa !important;
    transition: 0.3s ease-in-out;
  }
}
