.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 100px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding-left: 5%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  // margin-top: 20px;
  // margin-bottom: 20px;
  margin-right: 5%;
  // opacity: 0; // Start with opacity set to 0
  transition: opacity 0.4s ease-in-out; // Add transition for opacity
}

.links.active {
  opacity: 1; // When the menu is active, set opacity to 1 for fade-in
}

.link {
  margin: 0 30px;
  font-weight: 700;
  &:hover {
    // color: #aaaaaa !important;
    color: var(--olive);
    transition: 0.3s ease-in-out;
  }
}
.link::selection {
  background-color: var(--olive);
}

//fadein
.links.fadein {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.links.fadein.active {
  opacity: 1;
}

//Hamburger
/* Existing styles */

.hamburger,
.x-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 22px;
  padding: 5px 0;
}
.x-icon {
  padding: 10px 0 !important;
}
.line {
  width: 30px;
  height: 4px; /* Adjust this value as needed */
  background-color: #333;
  transition: 0.4s;
}

.hamburger .line,
.x-icon .line {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: 0.4s;
}

.hamburger.active .line:nth-child(1),
.x-icon.active .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, -4px);
}

.hamburger.active .line:nth-child(2),
.x-icon.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3),
.x-icon.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(4px, 4px);
}

/* Styles for the full-page navigation menu */
.links.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  // ... Other styles
}

/* Prevent scrolling when menu is open */
.menu-open {
  overflow: hidden;
}

/* Add media query for tablet and below */
@media (max-width: 768px) {
  .navbar {
    align-items: center;

    .links {
      text-align: left !important;
      // align-items: flex-start; /* Align content to the left */
      .mobile {
        display: flex;
        flex-direction: column;
      }
      .mobileNavSocials {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
      }
      > .link {
        text-align: left; /* Align individual link text to the left */
        margin: 20px 30px !important;
        font-size: 24px !important;
      }
      .link {
        margin: 20px 30px !important;
        font-size: 24px !important;
      }
      .active {
      }
    }
    .hamburger {
      display: flex;
      // padding-top: 20px;
      padding: 0px;
      padding-right: 40px;

      .active {
        padding: 10px 0px;
      }
    }
  }

  .x-icon {
    display: flex;
  }

  .links {
    display: none;
  }
}

.circle {
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);
  &:hover {
    transform: scale(1.2);
  }
}
